.overlay {
  position: fixed;       /* stays in place even when scrolling */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* semi-transparent dark background */
  display: flex;         /* centers modal content */
  justify-content: center;
  align-items: center;
  z-index: 1000; }


  .overlay-content {
  //background: #fff;
  //padding: 20px;
  border-radius: 10px;
  height: 400px;
  width: 400px;    /* responsive width */     /* responsive height */
  //box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.selectedImage img {
    width: 100%;
    border-radius: 20px;
}

.selectedImage {
  position: relative;
}

/*.slideShowButton{
  content: "";
  position: absolute;
  top:50%;
  //left: -50%;          /* required! otherwise nothing shows */
  //display: block;        /* or inline-block depending on use */
  //width: 40px;
  //height: 40px;
  //transform:translate(-50%, -50%);
  //background: #f2f2f2;
  //border-radius: 50%;
  //border: none;
//}

.slideShowButton.prev {
  position: absolute;
  top:50%;
  left: 0;
  transform: translate(-50%, -50%);

}

.slideShowButton.next {
  position: absolute;
  top:50%;
  right: 0;
  transform: translate(50%, -50%);

}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.gallery img {
   max-width:20%;
   border-radius: 10px;
}
